{% extends "layout.njk" %}
{% block content %}

<main class="container">
    <h1 class="center">{{ message }}</h1>

        <form action="/quiz/questions">
            <input type="submit" value="Starta quiz" id="startQuiz">
        </form>
</main>

{% endblock %}